# -----------
# .NET CORE
# -----------
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.vs/
.vs/
*.sqlite
project.lock.json

# -----------
# Angular / Node.js
# -----------
node_modules/
dist/
dist-server/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.angular/
.nx/
coverage/

# -----------
# OS & Divers
# -----------
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
